@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=League+Spartan:wght@400;500;700&family=Manrope:wght@600&family=Open+Sans:wght@400;600;700;800&family=Outfit:wght@300&family=Poppins:wght@400;500;600;900&family=Roboto+Mono:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "League Spartan";
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left 0vw top -6vh, right 0vw bottom -14vh;
  display: flex;
  overflow: hidden;
  padding: 80px 150px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .top .left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.left h1 {
  font-size: 3rem;
  color: hsl(239, 68%, 47%);
}

.left p {
  font-size: 18px;
  color: hsl(239, 42%, 56%);
  line-height: 20px;
  font-weight: 500;
}

.container .right {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.right .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 12px 24px;
  border-radius: 6px;
  background: hsl(192, 35%, 87%);
  color: hsl(239, 68%, 47%);
}

.rating .stars {
  width: fit-content;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.rating p {
  font-size: 15px;
  font-weight: 800;
}

.rating .stars {
  margin: 0 auto;
}

.margin {
  margin-left: 30px;
}

.give-margin {
  margin-left: 90px;
}

.more-margin {
  margin-left: 150px;
}

.stars img {
  height: 16px;
  margin-right: 2px;
}

.container .bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
}

.bottom .box {
  background: hsl(239, 68%, 47%);
  color: #fff;
  padding: 30px 25px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.two {
  margin-top: 24px;
}

.three {
  margin-top: 48px;
}

.bottom .box .info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.info p {
  font-size: 15px;
}

.info p span {
  color: hsl(240, 15%, 24%);
  line-height: 20px;
}

.box p {
  line-height: 20px;
}

.attribution {
  margin-top: 20px;
}

@media (max-width: 1024px) {
  body {
    padding: 40px 100px;
    overflow: scroll;
  }

  .container {
    gap: 0px;
  }

  .container .right .rating {
    width: 380px;
  }
}

@media (max-width: 730px) {
  body {
    background: #fff;
    overflow: visible;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;
  }

  .container {
    width: 400px;
    gap: 20px;
  }

  .container .top {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .container .top .left {
    width: 100%;
    flex-direction: column;
    gap: 25px;
  }

  .container .right {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right .rating {
    justify-content: center;
  }

  .margin,
  .give-margin,
  .more-margin {
    margin: 0;
  }

  .container .bottom {
    flex-direction: column;
    align-items: center;
    /* gap: 0px; */
  }

  .two,
  .three {
    margin-top: 0;
  }

  .attribution {
    display: none;
  }

  .right .rating {
    flex-direction: column;
    gap: 10px;
  }

  .box .text p {
    justify-content: flex-start;
  }
}

@media (max-width: 400px) {
  .container {
    width: 350px;
    padding: 0px 30px;
  }

  .container .top {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .right .rating {
    flex-direction: column;
    gap: 10px;
  }
}
